<h3><a class="btn btn-secondary" href="/product"><i class="fa fa-plus"></i> Create New</a> Employee List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Color</th>
            <th>Category</th>
            <th>Product Name</th>
            <th>price</th>
            <th>Description</th>
            <th>Tag</th>
            <th>Product Material</th>
            <th>image Url</th>
            <th>Created AT</th>
            <th>Review</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.color}}</td>
            <td>{{this.category}}</td>
            <td>{{this.productName}}</td>
            <td>{{this.price}}</td>
            <td>{{this.description}}</td>
            <td>{{this.tag}}</td>
            <td>{{this.productMaterial}}</td>
            <td>{{this.imageUrl}}</td>
            <td>{{this.createdAt}}</td>
            <td>{{this.reviews}}</td>
            <td>
                <a href="/product/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>